*{  box-sizing: border-box;
  margin: 0;
  padding: 0;}

.cadastro {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 7vh;
  padding: 4rem 0; 
  z-index: 1;
}

.navbar {
    background-color: #05314C;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-left {
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
  }


.navbar-right img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}

.aside-cadastro {
    border-radius: 10px 0px 0 10px;
    padding: 0 3rem;
    background-color: #1D597B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-cadastro img {
    width: 100%;
    max-width: 70px;
}

.form-content {
    background-color: #05314C;
    padding: 4rem 3rem;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    max-width: 350px;
    border: 5px solid #ccc;
}


.input-group {
    text-align: left;
    position: relative;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.cadastro h1 {
    font-size: 2.5rem;
}

.cadastro button {
    margin: 20px 0;
    background-color: #1D597B;
    padding: 10px;
    width: 100%;
    border: none;
    color: white;
    border-radius: 20px;
    display: block;
    text-align: center;
    font-weight: bold;
    border: none;
    outline: none;
}   

.cadastro button:hover {
    background-color: #1a4e6d;
    cursor: pointer;
}

.cadastro a {
    color: rgb(218, 218, 218);
    text-decoration: none;
    cursor: pointer;
}

.cadastro a span {
    color: white;
    text-decoration: underline;
}

.bloco-fundo{
    background-color: #05314C;
    width: 75vw;
    height: 75vh;
    position: absolute;
    top: 0;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 0; 
    border-radius: 20px;
}


.aside-cadastro,
.form-content {
  z-index: 1; 
  position: relative;
}